<div class="one-half column offset-by-three login">
    <div class="twelve-columns text-center">
      <h1>gStudy Login</h1>
    </div>
    <div class="twelve columns">
      <label for="emailInput">Your email</label>
      <input class="u-full-width" type="text" placeholder="test@mailbox.com" ng-model="$ctrl.email">
    </div>
    <div class="twelve columns">
      <label for="passwordInput">Your password</label>
      <input class="u-full-width" type="password" placeholder="password" ng-model="$ctrl.password">
      <button ng-click="$ctrl.login()">Login</button>
      <h5><a ng-link="['Register']">Register Here</a></h5>
    </div>
  </div>
</div>